<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@300&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Skills</title>
</head>
<body>
  <h1>Skills</h1>
  <a href="/skills/<%= skill._id %>/edit">Edit</a>
  <h2><%= skill.instructor %>'s skills</h2>
  <% skill.abilities.forEach(ability => { %>
    <p> <%= ability %> </p>
  <% }) %>
  <form action="/skills/<%= skill._id %>/ability" method="POST">
    <input type="text" placeholder="ability" name="ability">
    <button type="submit">add me</button>
  </form>
  <a href="/skills">Go back, you fool!</a>
</body>
</html>